<div class="contacts">
    <table>
        <thead>
            <tr>
                <td>#</td><td>Name</td><td>Email</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts | async; index as i;">
                <td>{{i}}</td><td>{{contact.name}}</td><td>{{contact.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<button (click)="addContact(name, email); ">Add contact</button>
<input placeholder="Name" #name>
<input placeholder="Email" #email>
